/*-------Start of Condensed Meyer Reset----*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	padding: 0;
	margin: 0;
	}
fieldset, img { 
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym { 
	border: 0;
	}

/*--------End of reset------Start of Global Body------*/

body {
	max-width: 960px;
	margin: 0 auto;
	background-color: #b8b38d;
	font-family: 'Arial', cursive, Serif;
	font-size: 1em;
}

header, footer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1, h2, h3 {
	font-family: 'Hammersmith One', sans-serif, cursive;
	text-align: center;
}

/*--------End of Global Body------Start of Global Header-----*/

#logo_container {
	width: 12.5%; /* 120px/960px */
}

#logo {
	max-width: 100%;
	border: solid 1px #000;
	-moz-box-shadow: 0 2px 2px #fff;
	-webkit-box-shadow: 0 2px 2px #fff;
	-o-box-shadow: 0 2px 2px #fff;
	box-shadow: 0 2px 2px #fff;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	float: left;
}

header h1 {
	font-family: 'Metal Mania', sans-serif, cursive;
	width: 87.5%; /* 840px/960px */
	height: 50px;
	line-height: 50px;
	font-size: 2.5em;
	letter-spacing: 4px;
	background: #f5f5dc;
	border-top: solid 1px #000;
	border-right: solid 1px #000;
	-moz-border-top-right-radius: .15em;
	-webkit-top-right-border-radius: .15em;
	-o-border-top-right-radius: .15em;
	border-top-right-radius: .15em;
	margin-left: 12.708333%; /* 122px/960px */
}

nav ul {
	width: 87.5%; /* 840px/960px */
	border-bottom: solid 1px #000;
	border-right: solid 1px #000;
	background: #b0e0e6;
	-moz-border-bottom-right-radius: .3em;
	-webkit-bottom-right-border-radius: .3em;
	-o-border-bottom-right-radius: .3em;
	border-bottom-right-radius: .3em;
	list-style-type: none;
	margin-left: 12.708333%; /* 122px/960px */
	overflow: hidden;
}

nav li {
	width: 16.6666666%; /* 140px/840px */
	float: left;
}

nav a {
	text-decoration: none;
	font-size: 1em;
	color: #000;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

nav a:visited {
	color: #800000;
}

nav a:hover {
	color: #0000ff;
	background: #f5f5dc;
	border-top: dashed 1px #000;
	border-right: dashed 1px #000;
	border-left: dashed 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
}

nav a:active {
	color: #800000;
	background: #f5f5dc;
	border-top: dashed 1px #000;
	border-right: dashed 1px #000;
	border-left: dashed 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
}

/*-----End of Global Header----Start of Home_Page Main CTA----*/

#main_cta {
	width: 100%; /* 960px */
	overflow: hidden;
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	background: #f5f5dc;
}

#rides_container, #kitchen_container {
	width: 29.1666666%; /* 280px/960px */
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

#church_container {
	width: 33.3333333%; /* 320px/960px */
	float: left;
}

img {
	max-width: 100%;
}

#church_img {
	height: 220px;
}

h2 {
	font-size: 1.5em;
}

#home_body h1 {
	margin-bottom: 10px;
	font-size: 1.75em;
}

/*----End of Home_Page Main CTA ----Start of Home_Page Small CTA---*/

#small_cta {
	margin-top: 20px;
	width: 100%; /* 960px */
}

#services, #prayer, #giving {
	width: 31.0416666%; /* 298px/960px */
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	background: #f5f5dc;
	overflow: hidden;
	float: left;
}

#services, #prayer {
	margin-right: 3.125%; /* 30px/960px */
}

#prayer, #giving {
	text-align: center;
}

#small_cta h2 {
	margin-top: 20px;
	margin-bottom: 20px;	
}

.info {
	padding-left: 7.19424%; /* 20px/278px */
	padding-right: 7.19424%; /* 20px/278px */
	font-family: 'Georgia', sans-serif, cursive;
	font-size: 1.125em;
}

#services li {
	padding-right: 10.79136%; /* 30px/278px */
	text-align: right;
	font-size: 1.125em;
}

#wednesday {
	margin-top: 40px;
	margin-bottom: 40px;
}

.button {
	display: inline-block;
	margin-right: 10.79136%; /* 30px/278px */
	margin-top: 40px;
	margin-bottom: 40px;
	float: right;
	outline: none;
	cursor: pointer;
	width: 35%;
	height: 20px;
	line-height: 20px;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	background: #EEC000;
	border: solid 1px #000;
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	-o-border-radius: .5em;
	border-radius: .5em;
	-moz-box-shadow: 0 2px 2px #000;
	-webkit-box-shadow: 0 2px 2px #000;
	-o-box-shadow: 0 2px 2px #000;
	box-shadow: 0 2px 2px #000;
}

.button:hover {
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#F88E11), to(#F06015));
	background: -moz-linear-gradient(top, #F88E11, #F06015);
}

.button:active {
	position: relative;
	top: 1px;
	background: -webkit-gradient(linear, left top, left bottom, from(#F47A20), to(#EEC000));
	background: -moz-linear-gradient(top, #F47A20, #EEC000);
}

/*-----End of Home_Page Small CTA-----Start of About_Us_Page----*/

#first_church, #second_church, #third_church, #fourth_church {
	width: 48.75%; /* 468px/960px */
	height: 340px;
	background: #f5f5dc;
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	float: left;
}

#first_church, #third_church {
	margin-right: 2.08333%; /* 20px/960px */
}

#first_church, #second_church {
	margin-bottom: 20px;
}

#container_1903, #container_1914, #container_1931, #container_1954 {
	width: 91.88034%; /* 430/468px */
	margin: 10px 4.2735%; /* 20px/470px */
}

#first_church img, #second_church img, #third_church img, #fourth_church img {
	max-width: 100%;
}

#first_church p, #second_church p, #third_church p, #fourth_church p {
	width: 91.88034%; /* 430/470px */
	margin-left: 4.2735%; /* 20px/470px */
	font-family: 'Georgia', sans-serif, cursive;
}

/*-----End of About_Us_Page----Start of Sermons_Page----*/

#first_month, #second_month, #third_month, #fourth_month, #fifth_month, #sixth_month {
	width: 31.04166%; /* 298px/960px */
	height: 300px;
	padding-top: 10px;
	background: #f5f5dc;
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	float: left;
}

#first_month ul, #second_month ul, #third_month ul, #fourth_month ul, #fifth_month ul, #sixth_month ul {
	list-style-type: disc;
	margin-top: 10px;
	margin-left: 13.42281%; /* 40px/298px */	
}

.sermon {
	margin-bottom: 10px;
	font-family: 'Georgia', sans-serif, cursive;
	list-style-type: none;
}

#second_month, #fifth_month {
	margin-left: 30px;
	margin-right: 30px;
}

#first_month, #second_month, #third_month {
	margin-bottom: 20px;
}

/*-----End of Sermons_Page-----Start of Ministries_Page CTAs----*/

#prayer_cta, #young_cta, #women_cta, #men_cta {
	width: 48.75%; /* 468px/960px */
	height: 240px;
	background: #f5f5dc;
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	float: left;
}

#prayer_cta, #young_cta {
	margin-bottom: 20px;
}

#prayer_cta, #women_cta {
	margin-right: 2.08333%; /* 20px/960px */
}

#prayer_container, #young_container, #women_container, #men_container {
	width: 47.00854%; /* 220px/468px */
	margin: 10px 2.13675%; /* 10px/468px */
}

#prayer_cta img, #young_cta img, #women_cta img, #men_cta img {
	max-width: 100%;
	float: left;
}

#prayer_cta p, #young_cta p, #women_cta p, #men_cta p {
	text-align: center;
	font-family: 'Georgia', sans-serif, cursive;
}

#prayer_cta ul, #young_cta ul, #women_cta ul, #men_cta ul {
	width: 42.7350427%; /* 200px/468px */
	list-style-type: disc;
	margin-top: 10px;
	float: left;
	padding-left: 6.4102564%; /* 30px/468px */
}

/*----End of Ministries_Page CTAs----Start of Tithe_Page CTAs-----*/

#tithe_body {
	width: 100%;
	float: left;
}

#personal_info, #billing_info, #payment_info {
	width: 48.75%; /* 468px/960px */
	background: #f5f5dc;
	height: 220px;
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	float: left;
}

#personal_info {
	margin-right: 2.08333%; /* 20px/960px */
}

#billing_info {
	margin-bottom: 20px;
}

#tithe_body h1 {
	margin-top: 10px;
	text-align: left;
	margin-left: 4.2735042%; /* 20px/468px */
}

form {
	width: 91.4529914%; /* 428px/468px */
	margin-left: 4.2735042%; /* 20px/468px */
	margin-top: 10px;
}

#personal_info label, #billing_info label {
	float: left;
	width: 5.208333%; /* 50px/960px */
	margin-right: 10.6837606%; /* 50px/468px */
	margin-bottom: 10px;
}

#personal_info input, #billing_info input, #payment_info input {
	margin-bottom: 10px;
	margin-right: 2.1367521%; /* 10px/468px */
}

#personal_first_name, #personal_last_name, #billing_first_name, #billing_last_name {
	width: 37.1794871%; /* 174px/468px */
}

#personal_address, #billing_address {
	width: 78.8461538%; /* 369px/468px */
}

#personal_city, #billing_city {
	width: 37.1794871%; /* 174px/468px */
	float: left;
	margin-right: 4.2735043%; /* 20px/468px */
}

.state_label, .country_label {
	float: left;
	margin-right: 2.1367521%; /* 10px/468px */
	margin-left: 1.7094017%; /* 8px/468px */
}

#personal_state, #billing_state {
	width: 24.3589743%; /* 114px/468px */
	margin-bottom: 10px;
}

#personal_zipcode, #billing_zipcode {
	width: 19.2307692%; /* 90px/468px */
	float: left;
	margin-right: 3.4188034%; /* 16px/468px */
}

#personal_country, #billing_country {
	width: 37.3931624%; /* 175px/468px */
}

#billing {
	margin-right: 10px;
	float: left;
}

#personal_info p {
	margin-top: 10px;
}

#payment_info {
	height: 230px;
}

#payment_info label {
	float: left;
	width: 27.7777777%; /* 130px/468px */	
}

#payment_info select {
	margin-bottom: 10px;
}

#card_number {
	width: 67.9487179%; /* 318px/468px */
}

#expire_date_mth, #expire_date_yr {
	width: 7.6923076%; /* 36px/468px */
	float: left;
}

#security_code {
	width: 17.7350427%; /* 83px/468px */
}

#amount {
	width: 19.2307692%; /* 90px/468px */
}

#payment_info button {
	margin-top: 5px;
	margin-right: 2.1367521%; /* 10px/468px */
	height: 20px;
	line-height: 20px;
}

/*----End of Tithe_Page CTAs-----Start of Contact_Us_Page----*/

#main_office, #school_office, #leaders, #directions {
	width: 48.75%; /* 468px/960px */
	height: 260px;
	background: #f5f5dc;
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	float: left;
	overflow: hidden;
}

#main_office, #leaders {
	margin-right: 2.08333%; /* 20px/960px */
}

#main_office, #school_office {
	margin-bottom: 20px;
}

#main_office h2, #school_office h2, #leaders h2, #directions h2 {
	margin: 10px 4.2735043%; /* 20px/468px */
	text-align: left;
}

.address {
	width: 200px;
}

#main_office p, #school_office p, #leaders p, #directions p {
	margin-bottom: 10px;
	margin-left: 4.2735043%; /* 20px/468px */
}

#school_address {
	margin-top: 30px;
}

#social_media {
	margin-top: 30px;
}

#facebook {
	margin-left: 4.2735043%; /* 20px/468px */
}

/*----End of Contact_Us_Page-----Start of Global Footer------*/

footer {
	background: #b0e0e6;
	border: solid 1px #000;
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	-o-border-radius: .3em;
	border-radius: .3em;
	font-size: .75em;
	overflow: hidden;
	float: right;
}

footer p {
	height: 30px;
	line-height: 30px;
	padding-left: 2.2779%; /* 20px/960px */
	float: left;
}

footer ul {
	padding-left: 450px;
}

footer li {
	width: 20%; /* 192px/960px */
	float: left;
}

footer a {
	height: 30px;
	line-height: 30px;
	text-align: left;
}

/*------End of Global Footer------------Media Queries------------------------------------*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {



}

/* Mobile Landscape size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 520px) and (max-width: 767px) {



}

/* Mobile Portrait size to Mobile Landscape (devices and browsers) */
@media only screen and (max-width: 519px) {



}